<!DOCTYPE html>
<html>
<head>
    <title>Food Recipe Generator</title>
</head>
<body>
    <h1>Food Recipe Generator</h1>
    <form method="post">
        <h2>Select Ingredients:</h2>
        <input type="checkbox" name="ingredients" value="pasta"> Pasta<br>
        <input type="checkbox" name="ingredients" value="eggs"> Eggs<br>
        <input type="checkbox" name="ingredients" value="bacon"> Bacon<br>
        <input type="checkbox" name="ingredients" value="parmesan cheese"> Parmesan Cheese<br>
        <input type="checkbox" name="ingredients" value="black pepper"> Black Pepper<br>
        <input type="checkbox" name="ingredients" value="chicken breast"> Chicken Breast<br>
        <input type="checkbox" name="ingredients" value="bell peppers"> Bell Peppers<br>
        <input type="checkbox" name="ingredients" value="broccoli"> Broccoli<br>
        <input type="checkbox" name="ingredients" value="onion"> Onion<br>
        <input type="checkbox" name="ingredients" value="soy sauce"> Soy Sauce<br>
        <input type="checkbox" name="ingredients" value="sesame oil"> Sesame Oil<br>
        <input type="checkbox" name="ingredients" value="butter"> Butter<br>
        <input type="checkbox" name="ingredients" value="sugar"> Sugar<br>
        <input type="checkbox" name="ingredients" value="flour"> Flour<br>
        <input type="checkbox" name="ingredients" value="vanilla extract"> Vanilla Extract<br>
        <input type="checkbox" name="ingredients" value="chocolate chips"> Chocolate Chips<br>
        <!-- Add more ingredient checkboxes as needed -->
        <button type="submit">Generate Recipes</button>
    </form>
    {% if suggested_recipes %}
        <h2>Suggested Recipes:</h2>
        <ul>
            {% for recipe in suggested_recipes %}
                <li>{{ recipe }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
